.logo {
    width: 40px;
    height: auto;
}

.quienes-somos, .destacados {
    font-family: Raleway;
    background-color: #020D33;
    color: whitesmoke;
}

.card img {
    object-fit: cover;
    height: 200px;
}
